.logo-image {
  width: 152px;
}

.sidebar-brand {
  padding: 0;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 !important;
}